h1.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 55px;
  text-decoration: underline;
}

@media (max-width: 900px) {
  img.me {
    display: none;
  }
  img.me-two {
    width: 100%;
    height: auto;
    max-width: 350px;
  }
  span.hello {
    font-size: 45px;
  }
  p.about-page {
    text-align: left;
    font-size: 20px;
  }

  h1.header {
    font-size: 45px;
  }
  p.home-excerpt {
    font-size: 15px;
    max-width: 250px;
  }
  h6 {
    font-size: 40px;
    max-width: 225px;
  }
  h4 {
    text-align: left;
    font-size: 10px;
  }
}

h4 {
  font-size: 55px;
  font-family: "Dancing Script", cursive;
}
h5 {
  font-family: "Zen Old Mincho", serif;
  font-size: 35px;
  margin-top: 30px;
}
h6 {
  text-align: center;
  font-size: 55px;
  margin-bottom: 100px;
  font-family: "Tangerine", cursive;
}

img.me {
  max-width: 500px;
  margin-left: 350px;
  margin-top: 100px;
  margin-bottom: 100px;
}
img.me-two {
  margin-bottom: 200px;
}
img.print {
  max-width: 250px;
}

img.logo {
  display: block;
  margin: 0 auto;
  max-width: 80px;
}

p.about-page {
  padding: 10px 10px;
  margin-top: 20px;
  line-height: 2;
}
p.home-excerpt {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

div.buttons {
  margin-bottom: 350px;
}

.gallery {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
}

.gallery:hover {
  color: black;
  background-color: white;
}
.homepage {
  margin-top: 100px;
  max-width: 350px;
}
.welcome {
  display: flex;
  flex-direction: column;
}
.hello {
  font-size: 55px;
  margin-top: 100px;
  font-family: "Merienda", cursive;
  margin-left: 50px;
}
.name {
  font-size: 50px;
  margin-top: 10px;
  font-family: "Merienda", cursive;
  margin-left: 50px;
}
.location {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 50px;
}
.link {
  text-decoration: none;
  color: black;
  font-family: cursive;
}
.link:hover {
  color: rgb(252, 14, 133);
}
.links {
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.one {
  display: flex;
  justify-content: space-evenly;
  max-width: 350px;
}
.two {
  display: flex;
  justify-content: space-evenly;
  max-width: 250px;
}
