h1 {
  text-align: center;
  font-size: 30px;
}
.paragraph {
  max-width: 300px;
  margin-top: 200px;
}
img.me {
  margin-top: 200px;
  margin-left: 15px;
  max-width: 350px;
}
img.travel {
  margin-top: 400px;
  margin-left: 50px;
  margin-right: 15px;
  margin-bottom: 45px;
  max-width: 300px;
}
img.logo {
  display: block;
  margin: 0 auto;
  max-width: 75px;
}
